@charset "UTF-8";

/* Setup */
@import "EF-CSS-FRAMEWORK/defaults";
@import "_vars";
@import "EF-CSS-FRAMEWORK/init";


*, 
*:before, 
*:after {
	-webkit-font-smoothing: antialiased;
}

h1 { margin-bottom: @half-spacing-unit*1px; }
h2 { }
h3 { margin: 0; }
@font-face {
	font-family: 'entypo';
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.eot');
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.eot?#iefix') format('embedded-opentype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.woff') format('woff'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.ttf') format('truetype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo-social';
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.eot');
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.woff') format('woff'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.ttf') format('truetype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}


.icon {
	font-family: 'entypo';
	.font-size(45);
}

.icon-social {
	font-family: 'entypo-social';
	.font-size(45);
}

a.icon {
	border: none;
	padding: 0;
}

main[role=main]{
	min-height: 420px;
	padding-top: 60px;
}

a { 
	border-bottom: 2px solid #333; 
	padding-botton: 2px; 
	text-decoration: none;
	-webkit-transition: border 0.2s;
	-moz-transition: border 0.2s;
	-ms-transition: border 0.2s;
	-o-transition: border 0.2s;
	transition: border 0.2s;
	font-weight: bold;
}

a:hover { 
	border-bottom-color: #fff !important; 
	text-decoration: none; 
}

hr {
	border: 0;
	border-top: 1px solid #ddd;
}

.page {
	padding: 0 25px;
	
	@media (min-width: 760px) {
		width: 60%;
		padding: 0;
	}

	@media (min-width: 1280px) {
		width: 50%;
		max-width: 760px;
	}

}

.fullWidth {
	margin-bottom: @base-spacing-unit*1px;	

	@media (min-width: 760px) {

	}

	@media (min-width: 1280px) {

	}	
}

.fullWidth .unit {

}

.fullWidth .unit:first-child {

	@media (min-width: 760px) {
		position: absolute;
		left: 0;
		padding: 0 20px;
		width: 20%;
	}

	@media (min-width: 1280px) {
	}		
}

.fullWidth .unit:last-child {

	@media (min-width: 760px) {
		width: 100%;
		padding: 0;
	}

	@media (min-width: 1280px) {
	}			
}

.img-resp {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.side-content {
	text-align: right;
	float: none !important;

	@media (min-width: 760px) {
		float: left !important;
	}

	@media (min-width: 1050px) {
		margin-left: -150px;
		width: 150px;
	}

}

time:after {
	content: "—";
	margin: 0 10px;
	display: none;
	
	@media (min-width: 760px) {
		display: inline;
	}
}


.site-foot {
	.soft--top;
	.soft--bottom;
	margin-top: 120px;
	color: #ccc;
	text-align: right;
	overflow: hidden;
}

.site-foot a {  
	color: #ccc !important;
	border-color: #fff !important;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
	float: left;

	@media (min-width: 760px) {
		float: none; 
	}	

}

.site-foot a:hover {  
	color: #999 !important;
}

.site-foot span { 
	text-align: left;
	padding: 8px 0; 
	display: block;
	@media (min-width: 760px) {
		float: left; 
	}	

}

.site-foot .page {  
}



.site-foot a:hover {  
	color: #333;
}

.logo {
	border: none;
}

.logo img {
	// width: 50px;
	// height: 50px;
	// border-radius: 100px;
}

.nav {
	padding-top: 22px;
	padding-bottom: 22px;
	border-bottom: 1px solid #eee;
	background: #fcfcfc;
}

.nav .page {
	
	@media (min-width: 760px) {
	}	

	@media (min-width: 960px) {
	}

}

.nav a {
	border-bottom-color: transparent;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	font-family: @headings-font-family-secondary;
	display: inline-block;
	color: #333 !important;
	border-color: #fff !important;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.nav a.active,
.nav a:hover {
	border-bottom-color: #333 !important;
}

.twitter-follow-button {
	float: right;
	margin: 8px 0 0;
}

.nav a + a {
	margin-left: 30px;
}

.blog-list { margin-bottom: 15px; }

.blog-list .img {
	margin-right: 0;
	color: #999;
}

.blog-list p { margin: 0; }

.intro h1 + p {
	@media (min-width: 760px) {
		font-size: 22px;	
		margin-bottom: 	@base-spacing-unit*4px;
	}

}

.intro .cats {
	vertical-align: top;
	margin: 0 5px;
}

.post h1 {
	margin: 0;
}

.post h2 {
	font-weight: bold;
}

.post .meta {
	color: #999;
}

.post h1 a {
	font-size: 18px;
	margin-top: -10px;
	margin-left: 20px;
	font-style: italic;
}

.post-listing__item .img {
	margin-right: 0;
	color: #aaa;
}

.post-listing__item h2 {
	margin-bottom: @base-spacing-unit/4px;
}


.post-listing__item {  
	margin-bottom: @base-spacing-unit*3px;
}

.post-listing--small .post-listing__item {  
	margin-bottom: @base-spacing-unit*2px;
}

