@charset "UTF-8";

/* Setup */
@import "EF-CSS-FRAMEWORK/defaults";
@import "_vars";
@import "EF-CSS-FRAMEWORK/init";

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* DEFAULTS */

@font-face {
	font-family: 'entypo';
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.eot');
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.eot?#iefix') format('embedded-opentype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.woff') format('woff'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.ttf') format('truetype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo-social';
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.eot');
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.woff') format('woff'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.ttf') format('truetype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	padding-bottom: 1px;
	border-bottom: 2px solid #ff5122;
	font-weight: 400;
	&:hover {
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-style: normal;
	font-weight: 700;
}

.ul-inline {
	margin-left: 20px;
}

.divider {
	padding: 32px 0 25px;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	@media (max-width: 800px) {
		// position: static;
	}		
}

.divider--bottom {
	bottom: -20px;
	top: auto;
}

.logo {
	// display: none;
	position: fixed;
	border: none;
	top: 25px;
	left: 25px;
	transform: none;
	z-index: 10;
	width: 50px;
	height: 50px;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.site-nav {
	position: fixed;
	top: 25px;
	right: 25px;
	text-align: right;
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	z-index: 99;

	a {
		color: #1560fb;
		font-weight: bold;
		border: none;
		padding: 2px 0;
		display: block;
	}
	
	// .page-home & { display: none; }
}

.full-bleed-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}

.page-section {
	padding: 130px 0;
	max-width: 1105px;
	width: 100%;
	margin: 0 auto;	
	position: relative;	
	@media (max-width: 800px) {
		padding: 100px 0;
	}		
}

.page-section__intro {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	.vertical-rhytm(3);
	@media (max-width: 800px) {
		width: 90%;
	}
}

.page-section__name {
	.font-size(43,true);
}

.home-section__intro {
	.font-size(43,true);
	.vertical-rhytm(3);
	opacity: 1;
	span {
		color: #ff5122;
		padding-bottom: 1px;
		border-bottom: 3px solid #ff5122;
	}

	@media (max-width: 800px) {
		margin: 0 30px;
		font-size: 11vw;
	}	

}

 .home-section__row {
	@media (max-width: 800px) {
		margin: 0;
	}	
 }

.home-section__leftcol {
	.unit;
	.size3of4;

	transform: translateY(40px);
	@media (max-width: 800px) {
		transform: translateY(0);
		width: 100%;
		padding: 0;
	}	
}

.home-section__rightcol {
	.unit;
	.size1of4;
	@media (max-width: 800px) {
		width: 100%;
		padding: 0;
	}		
}

.data-typer {
	color: deeppink;
	border-bottom: 2px solid deeppink;
	font-weight: bold;
}

.home-section__bio,
.home-section__quote {
	position: relative;

	&:hover:after {
		z-index: -1;
		opacity: 0.4;
	}

	&:after {
		content: "— work —";
		color: #1560fb;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: rotate(-22deg) translateY(-50%) translateX(-50%);
		-webkit-transform: rotate(-17deg) translateY(-50%) translateX(-50%);
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
	}	
}

.home-section__bio {
	.content-box;
	.content-box--hiddenText;
	width: 504px;
	margin-left: 30%;
	margin-bottom: 0;

	&:after {
		content: "— work —";
	}

	@media (max-width: 800px) {
		display: none;
	}
}

.home-section__quote {
	.content-box;
	.content-box--hiddenText;
	width: 220px;

	&:after {
		content: "— about —";
		transform: rotate(12deg) translateY(-50%) translateX(-50%);
		-webkit-transform: rotate(12deg) translateY(-50%) translateX(-50%);
	}	

	@media (max-width: 800px) {
		display: none;
	}

}

.content-box {
	color: #000;
	display: inline-block;
	margin-bottom: 40px;
	padding: 20px 20px 30px;
	border: 2px solid transparent;

	u {
		border-bottom: 2px solid #000;
		padding-bottom: 5px;
	}

	&:hover {
		text-decoration: none;
		cursor: pointer;
		border: 2px solid #4974ff;
		background: #fff;
	}
	@media (max-width: 800px) {
		display: block;
		margin: 0;
	}	
}
 
.content-box--hiddenText {
	.content-box--small;	
	margin-left: -20px;
	padding: 20px;

	& .content-box__desc {
		opacity: 0.2;
		position: static;
	}

	&:hover .content-box__desc {
		opacity: 1;
	}	

	& .content-box__desc p {
		margin: 0;
	}	
}

.content-box__title {
	margin: 0 0 9px;
}

.content-box__intro {
	font-weight: bold;
	line-height: 120%;
}

.content-box--small {
	
	.content-box__title {
		font-weight: normal;
		font-size: 14px;
		line-height: 27px;
		margin-bottom: 6px;
	}

	.content-box__intro {
		font-size: 14px;
		font-weight: normal;
		line-height: 150%;
	}

	u {
		border-bottom: 1px solid #000;
	}
}

.content-box__image {
	max-width: 100%;
	width: 100%;
	display: block;
	margin: 0 auto;
	opacity: 1;

	transition: opacity 200ms;

	.content-box:hover & {
		opacity: 0;
	}

	@media (max-width: 800px) {
		display: none;
	}		

}

.content-box__more {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.content-box__desc {
	position: absolute;
	font-size: 14px;
	line-height: 150%;
	top: 0;
	left: 0;
	opacity: 0;
	color: #000;

	transition: opacity 200ms;

	.content-box:hover & {
		opacity: 1;
	}

	@media (max-width: 800px) {
		position: static;
		opacity: 1;
	}		
}

.work-grid {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
	margin: 0 -20px;
	-webkit-transform: translate3d(0,0,0,);
	@media (max-width: 800px) {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		margin: 0;
	}	
}

.single-post-row {
	@media (max-width: 800px) {
		margin: 0;
	}	
}

.single-post-middlecol {
	.unit;
	.size1of2;
	@media (max-width: 800px) {
		width: 90%;
		margin: 0 auto
	}	
}

.single-post-leftcol,
.single-post-rightcol {
	.unit;
	.size1of4;

	@media (max-width: 800px) {
		width: 90%;
		margin: 0 auto
	}	
}

.post-link-prev,
.post-link-next {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 1;
	font-weight: bold;
	border-bottom: none;
	width: 33%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	margin-left: -25%;
	text-align: right;
	font-size: 13px;
	color: deeppink;
	&:hover {
		opacity: 1;
	}

	span {
		@media (max-width: 800px) {
			display: none;
		}
	}

	@media (max-width: 800px) {
		text-align: left;
		outline: 1px solid orange;
		width: auto;
		left: 20px;
		bottom: 10px;
		padding: 10px;
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
		margin: 0;
	}	

}

.post-link-prev {
	&:before {
		content: "←";
		margin-right: 4px;
	}	
}

.post-link-next {
	margin-left: 25%;	
	text-align: left;

	&:after {
		content: "→";
		margin-left: 4px;
	}

	@media (max-width: 800px) {
		text-align: right;
		left: auto;
		right: 20px;
	}		
}

.site-foot {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 60px;
	width: 30px;
	white-space: nowrap;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}

	a {
		display: block;
		color: #000;
	}

	span {
		transform: rotate(-90deg) translateY(6px);
		transform-origin: 0 0;
		display: block;
	}

}

.icon {
	font-family: 'entypo';
	font-size: 45px;
	font-size: 2.6470588235294117rem;
	line-height: 45px;
}


.icon-social {
	font-family: 'entypo-social';
	font-size: 45px;
	font-size: 2.6470588235294117rem;
	line-height: 45px;
}
