@charset "UTF-8";

/* Setup */
@import "EF-CSS-FRAMEWORK/defaults";
@import "_vars";
@import "EF-CSS-FRAMEWORK/init";

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* DEFAULTS */

*, 
*:before, 
*:after {
	-webkit-font-smoothing: antialiased;
}

h1 { 
	margin-bottom: @half-spacing-unit*1px; 
}

blockquote {
	font-style: italic;
	border-left: 3px solid #ccc;
	padding-left: 20px;
	margin-left: 10px;	
	font-size: 114%;

	@media (min-width: 740px) {
	margin-left: -23px;	
	}	

}

h3 { 
	margin: 0; 
}

a { 
	font-weight: bold;
	position: relative;
}

a.link_highlight:after,
.no-touch a:after { 
	content: "";
	width: 0;
	height: 100%;
	background: yellow;
	display: block;
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 50%;
	z-index: -1;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


a.link_highlight:after,
a:hover:after {
	width: 100%;
	left: 0;
} 

a:hover { 
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px solid #ddd;
}

time {
	color: #999;
}

@font-face {
	font-family: 'entypo';
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.eot');
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.eot?#iefix') format('embedded-opentype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.woff') format('woff'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.ttf') format('truetype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo-social';
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.eot');
	src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.woff') format('woff'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.ttf') format('truetype'),
	url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts/entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* GENERAL */

main[role=main]{
	
	@media (min-width: 760px) {
		padding-top: @base-spacing-unit*3px;
		min-height: 420px;
	}	
}

.page {
	padding: 0 25px;
	
	@media (min-width: 760px) {
		max-width: 760px;
	}

	@media (min-width: 761px) {
		padding: 0;
	}

}

.icon {
	font-family: 'entypo';
	.font-size(45);
}

.icon-social {
	font-family: 'entypo-social';
	.font-size(45);
}

a.icon {
	border: none;
	padding: 0;
}

.img-resp {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* NAVIGATION */

.logo {
	border: none;
}

.nav {
	padding-top: 22px;
	padding-bottom: 22px;
	text-align: center;
	@media (min-width: 760px) {
		text-align: left;
	}			
}

.nav a {
	border-bottom-color: transparent;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	font-family: @headings-font-family-secondary;
	display: inline-block;

	color: #999;
	border-color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 9px;
	margin-left: 9px;
	margin-right: 9px;

	@media (min-width: 760px) {
		float: left;
		display: inline;
		margin: 9px 0 0;
	}		
}

.nav .logo { 
	margin: 0; 
	width: 100%;
	text-align: center;
	@media (min-width: 760px) {
		width: auto;
		text-align: left;
	}	
}

.nav .logo:after {
	display: none;
}

.nav a.active,
.nav a:hover { 
	color: #333; 
}

.twitter-follow-button {
	display: block;
	margin: 6px auto 0;
	
	@media (min-width: 760px) {
		float: right;
		display: inline;
	}			
}

.touch .twitter-follow-button {
	display: none;
}

.nav a + a {
	
	@media (min-width: 760px) {
		margin-left: 30px;
	}		
}

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* FIRST PAGE */

.intro { text-align: center; }
.intro h1 + p {
	@media (min-width: 760px) {
		font-size: 22px;	
		margin-bottom: 	@base-spacing-unit*4px;
	}

}

.intro .cats {
	vertical-align: top;
	margin: 0 5px;
}

.home .nav {
	opacity: 0;

	-webkit-animation-name: firstpage;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

	animation-name: firstpage;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.home.visited .nav {
	opacity: 1;
	-webkit-animation-name: none;
	animation-name: none;
}

.home .site-foot {
	opacity: 0;	

	-webkit-animation-name: firstpage;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

	animation-name: firstpage;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.home.visited .site-foot {
	opacity: 1;
	-webkit-animation-name: none;
	animation-name: none;
}

@keyframes firstpage {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes firstpage {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* POST */

.post h1 {
	margin: 0;
}

.post h2 {
	font-weight: bold;
}

.post h1 a {
	font-size: 18px;
	margin-top: -10px;
	margin-left: 20px;
	font-style: italic;
}

.post-listing h2 { 
	margin: 0; 
}

/* ============================================ */
/* POST EXTRA */

.fullWidth {

	margin-bottom: @base-spacing-unit*3px;	
	position: relative;
	@media (min-width: 1000px) {
		margin-right: -110px;
	}
	
}

.fullWidth h3 {
	font-style: normal;
	text-transform: uppercase;
	font-family: helvetica, Arial;
	font-size: 83%;
	letter-spacing: 1px;
}

.fullWidth__outside {
	text-align: center;
	font-style: italic; 

	border-top: 1px solid #ddd;
	padding-top: @base-spacing-unit*1px;

	@media (min-width: 1000px) {
		text-align: left;
		float: left;
		margin-left: -110px;
		margin-right: 30px;
		width: 220px;


	}		
}

.fullWidth__outside p { 
	font-size: 80%;
	color: #777; 
}

.fullWidth__inner {
	display: table-cell;
}

/* ======================================================================================== */
/* ======================================================================================== */
/* ======================================================================================== */
/* SITE FOOTER */

.site-foot {
	.soft--top;
	.soft--bottom;
	margin-top: 120px;
	color: #ccc;
	text-align: right;
	overflow: hidden;
}

.site-foot {
	text-align: center;
}

.site-foot a {  
	color: #ccc;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;

	@media (min-width: 760px) {
		float: right;
	}	

}

.site-foot a:hover {  
	color: #999;
}

.site-foot span { 
	text-align: left;
	padding: 8px 0; 
	display: block;
	text-align: center;

	@media (min-width: 760px) {
		float: left; 
	}	

}

.site-foot a:hover {  
	color: #333;
}





