@font-face {
  font-family: 'entypo';
  src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo.eot');
  src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo.eot?#iefix') format('embedded-opentype'), url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo.woff') format('woff'), url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo.ttf') format('truetype'), url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'entypo-social';
  src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo-social.eot');
  src: url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo-social.eot?#iefix') format('embedded-opentype'), url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo-social.woff') format('woff'), url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo-social.ttf') format('truetype'), url('/css/EF-CSS-FRAMEWORK/extensions/design/fonts-gud30/entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'entypo';
}
