<footer class="site-foot" role="footer">
	<div class="page">
		<a target="_blank" title="Mute" class="icon">⏷</a>
	</div>
</footer>
<script src="js/jquery.1.9.0.min.js"></script>
<script src="js/jquery.transit.js"></script>
<script src="js/jquery.typer.js"></script>
<script>
(function(window){
// setTimeout(function(){ myStopFunction() }, 2000);
// var myVar = setInterval(function(){ myTimer() }, 200);
// var i = 0;
// var k = 0;
// var hey = 0;

// function myTimer() {
// 	i++;
// 	k++;
// 	$(".load-section__text ul").css({"transform":"translateY("+hey+"px)"});
// 	hey = hey - 55;
// 	if(k === 13){
// 		myStopFunction();
// 	}
// 	if(i % 4 === 0){
// 		i=0;
// 		hey = 0;
// 	}

// }

// function myStopFunction() {
// 	clearInterval(myVar);
// 	$(".page-section--loading").transition({
// 	opacity: 0,
// 	// delay: 500
// 	},700);


// }
	function init(){

		$('[data-typer-targets]').typer();
		// $(".load-section__text ul").transition({
		// 	y: "+=-56px",
		// 	delay: 600
		// },300,'easeOutCirc').transition({
		// 	y: "+=-55px",
		// 	delay: 500
		// },300,'easeOutCirc').transition({
		// 	y: "+=-55px",
		// 	delay: 500
		// },300,'easeOutCirc',function(){

		// 	$(".page-section--loading").transition({
		// 		opacity: 0,
		// 		delay: 500
		// 	},700,function(){
		// 		$(".page-section--loading").css("z-index","-1");

		// 		// $(".logo").transition({
		// 		// 	y: "+=40px",
		// 		// 	opacity: "1",
		// 		// 	delay: 200
		// 		// },'snap');

		// 		// $(".intro-section__title").transition({
		// 		// 	y: "-=20px",
		// 		// 	opacity: "1",
		// 		// 	delay: 200
		// 		// },"snap");
		// 		// $(".intro-section__desc").transition({
		// 		// 	y: "0",
		// 		// 	opacity: "1",
		// 		// 	delay: 300
		// 		// },"snap");				
		// 		// $(".site-foot").transition({
		// 		// 	x: "-60px",
		// 		// 	delay: 400
		// 		// });						
		// 	});
		// });


	}

	window.Application = {
		init: init
	}

}(window))  // Self execute

Application.init();
	
</script>