<footer class="site-foot" role="footer">
	<div class="page">
		<a target="_blank" title="Mute" class="icon">⏷</a>
	</div>
</footer>
<script src="js/jquery.1.9.0.min.js"></script>
<script src="js/jquery.transit.js"></script>
<script>
(function(window){

	function init(){

		$(".load-section__text ul").transition({
			y: "+=-56px",
			delay: 500
		},500,'snap').transition({
			y: "+=-55px",
			delay: 300
		},500,'snap').transition({
			y: "+=-55px",
			delay: 300
		},500,'snap',function(){

			$(".page-section--loading").transition({
				opacity: 0,
				delay: 500
			},700,function(){
				$(".page-section--loading").css("z-index","-1");

				$(".logo").transition({
					y: "+=40px",
					opacity: "1",
					delay: 200
				},'snap');

				$(".intro-section__title").transition({
					y: "+=80px",
					opacity: "1",
					delay: 200
				},"snap");
				$(".intro-section__desc").transition({
					y: "0",
					opacity: "1",
					delay: 300
				},"snap");				
				$(".site-foot").transition({
					x: "-60px",
					delay: 400
				});						
			});
		});


	}

	window.Application = {
		init: init
	}

}(window))  // Self execute

Application.init();
	
</script>