<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Interaction Designer interested in design beyond the visuals. I like to code and craft products that are a joy to both users, developers and cats alike.">
	<meta name="author" content="Yacine Belarbi">
	<meta name="keywords" content="HTML,CSS,JavaScript,Frontend developer,Interaction designer,HTML5,CSS3,Backbone">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }} | Yacine Belarbi</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/css/syntax.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/modernizr.js"></script>
	<script>
	  (function(d) {
	    var config = {
	      kitId: 'lpg3wfp',
	      scriptTimeout: 3000
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>	
</head>