<nav class="nav" role="navigation">
	<div class="page">
		<a href="/"><img class="logo" src="/images/me.jpg" alt="Yacine Belarbi"></a>
		<a href="/about">about</a>
		<a href="/blog">blog</a>
		<a href="/projects">projects</a>
		<a href="https://twitter.com/moppedisco" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @moppedisco</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</nav>