<!-- <nav class="nav" role="navigation">
	<div class="page">
		<a title="Home" class="logo" href="/"><img src="/images/logo2.png" width="40" alt="Yacine Belarbi"></a>
		<a title="About" href="/about">about</a>
		<a title="Blog" href="/blog">blog</a>
		<a title="Projects" href="/projects">projects</a>
		<a title="Follow" href="https://twitter.com/moppedisco" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @moppedisco</a>
	<script>
	if(!Modernizr.touch){
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	}
	</script>
	</div>
</nav> -->
<nav class="site-nav">
	<ul>
		<li><a href="">Welcome</a></li>
		<li><a href="">work</a></li>
		<!-- <li><a href="">blog</a></li> -->
		<li><a href="">about</a></li>
	</ul>
</nav>