---
layout: default
title: Work
name: page-work
---

<section class="page-section page-section--work">
	<header class="page-section__intro">
		<p>This is the nice bit. <br />The part where I shut up and just show you the fruits of my labour.</p>
	</header>
	<div class="work-grid">
		{% for post in site.posts %}
			<a class="content-box {{post.postClass}}" title="{{ post.title }}" href="{{ post.url }}">
				<time class="content-box__date">{{ post.date | date: "%y<br>%m" }}</time>
				<img class="content-box__img" src="{{post.thumbnail}}" alt="{{post.title}}" />
				<h3 class="content-box__title"><u><span>{{post.title}}</span></u></h3>
				<p class="content-box__subtitle"><span>— {{post.subtitle}}</span></p>
				<p class="content-box__desc"><span>{{post.description}}</span></p>
				<div class="content-box__tags">
					{% for tag in post.tags %}
						<b>{{tag}}</b>,
					{% endfor %}
				</div>
			</a>
		{% endfor %}
	</div>
</section>
