---
layout: default
title: Work
name: page-work
---
<section class="page-section">
	<header class="page-section__intro">
		<h2 class="page-section__name">Work</h2>
		<p>This is the nice bit. The part where I shut up and just show you the fruits of my labour like.</p>
	</header>
	<div class="work-grid">

		{% for post in site.posts %}
			<a class="content-box {{post.postClass}}" title="{{ post.title }}" href="{{ post.url }}">
				<h3 class="content-box__title"><u>{{post.title}}</u></h3>
				<p class="content-box__intro">{{post.subtitle}} — {{post.category}}</p>
				<div class="content-box__more">
					<img class="content-box__image" src="{{post.thumbnail}}" alt="{{post.title}}">
					<div class="content-box__desc">
						<p>{{post.description}}</p>
						{% for tag in post.tags %}
							<b>{{tag}}</b>
						{% endfor %}
					</div>
				</div>
			</a>	
		{% endfor %}		
	</div>
<!-- 	<div class="work-grid">
		<a href="/zuri-kino/" class="content-box">
			<h3 class="content-box__title"><u>zuri-kino.ch</u></h3>
			<p class="content-box__intro">Side project - Cinema site</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_imdb.jpeg" alt="Zuri-kino">
				<div class="content-box__desc">
					<p>Cinema sites are pretty crap. Never any IMDB ratings and always tons of ads to polute any nice design. I had enough one day and built my own extremely sexy cinema site.</p>
					<b>Animations</b> / <b>Backbone.js</b> / <b>Mobile</b>
				</div>
			</div>
		</a>
		<a class="content-box content-box--small">
			<h3 class="content-box__title"><u>gärtnerei.ch</u></h3>
			<p class="content-box__intro">Restaurant website</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_gartnerei.jpg" alt="" />
				<div class="content-box__desc">
					<p>An previous satisfied client recommended me for this project which required building a saucy one pager for a hot healthy startup in the restaurant scene.</p>
					<b>Mobile</b> / <b>Twitter Bootstrap</b> / <b>Wordpress</b>
				</div>
			</div>
		</a>
		<a class="content-box content-box--small">
			<h3 class="content-box__title"><u>optimizeme-app.com</u></h3>
			<p class="content-box__intro">App website</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_optimizeme.png" alt="" />
				<div class="content-box__desc">
					<p>These guys help you track all aspects of your physical life and transform it to beautifly visualized one's and zeros.</p>
					<b>Frontend</b> / <b>One pager</b> / <b>Animation</b>
				</div>
			</div>
		</a>	
		<a href="/varskaviata/" class="content-box">
			<h3 class="content-box__title"><u>varskaviata.nu</u></h3>
			<p class="content-box__intro">Side project - Search tool</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_varskaviata.png" alt="" />
				<div class="content-box__desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, atque ea nemo vitae magni qui neque architecto laborum dolor assumenda, vel quam iure at pariatur voluptatum veritatis illo, odit nam.</p>
					<b>Custom map search</b> / <b>Scraper</b>
				</div>
			</div>
		</a>
		<a class="content-box">
			<h3 class="content-box__title"><u>ef.com redesign</u></h3>
			<p class="content-box__intro">Leadership &amp; project management</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_eflogo.png" alt="" />
				<div class="content-box__desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, accusantium? Nulla, est! Corporis culpa rem.</p>
					<b>Team lead</b> / <b>Scrum master</b>
				</div>
			</div>
		</a>

		<a class="content-box content-box--small">
			<h3 class="content-box__title"><u>Blog post</u></h3>
			<p class="content-box__intro">Rainbow your Mac dock apps for quick UX win</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_rainbow-post.jpg" alt="" />
				<div class="content-box__desc">
					<p>When stting in front of a computer our eyes do a lot of work. Some tasks are very slow and cognitivly "heavy" like finding that file on your desktop. To help yourself there is small tricks you can do.</p>
					<b>UX</b> / <b>Cognitive behavior</b>
				</div>
			</div>
		</a>
		<a class="content-box">
			<h3 class="content-box__title"><u>Summeranza 2015</u></h3>
			<p  class="content-box__intro">Concert website</p>
			<div class="content-box__more">
				<img class="content-box__image" src="http://www.negativelabs.com/images/best/best_b.jpg" alt="" />
				<div class="content-box__desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laudantium ab, distinctio optio aliquid est, dolores eaque hic veritatis officia vitae quis dignissimos libero. Adipisci minima sapiente soluta tempora ducimus?</p>
				</div>
			</div>
		</a>				
		<a class="content-box content-box--small">
			<h3 class="content-box__title"><u>stefaniebiggel.ch</u></h3>
			<p class="content-box__intro">Frontend build</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/stefaniebiggel.jpg" alt="" />
				<div class="content-box__desc">
					<p>Stefanie Biggel is one of few and very succesful Swiss fashion brands. I built the frontend for their site and e-commerce platform.</p>
					<b>Frontend</b> / <b>E-commerce</b>
				</div>
			</div>
		</a>
		<a class="content-box content-box--small">
			<h3 class="content-box__title"><u>App concept</u></h3>
			<p class="content-box__intro">Wireframe and userflow</p>
			<div class="content-box__more">
				<img class="work-grid__image" src="http://4.bp.blogspot.com/-content-boxMI/AAAAAAAAACM/Vc59kvQJavs/s1600/thumbnail.png" alt="" />
				<div class="content-box__desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dicta saepe facilis sit, necessitatibus unde dolor odit perspiciatis fugiat autem similique quam quos blanditiis laudantium fugit reprehenderit ut voluptatibus omnis.</p>						
				</div>
			</div>
		</a>
		<a class="content-box content-box--small">
			<h3 class="content-box__title"><u>makeyourowntomorrow.com</u></h3>
			<p class="content-box__intro">Campaign website</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_yourtomorrow.jpg" alt="" />
				<div class="content-box__desc">
					<p>Travelling and learning can be a great way to get out and see the world. We build a tool that would show you uniq video of your self based on your dreams and hopes of the future. </p>
					<b>UI design</b> / <b>HTML5 Video</b>
				</div>
			</div>
		</a>
		<a class="content-box">
			<h3 class="content-box__title"><u>Fresh pots!</u></h3>
			<p class="content-box__intro">UX/Design newsletter</p>
			<div class="content-box__more">
				<img class="content-box__image" src="/images/thumbnail_freshpots.jpg" alt="" />
				<div class="content-box__desc">
					<p>In an attempt to raise the interest within the company for UX, design and frontend development as a  package and not just buzz words for swordfights I created and curated an internal weekly newsletter on the topic.</p>
					<b>Communication</b> / <b>Trends</b>
				</div>
			</div>
		</a>			
	</div> -->
</section>