/*

font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-46Ligh';
font-family:'HelveticaNeueW01-77BdCn 692722';
font-family:'HelveticaNeueW31-Light';
font-family:'HelveticaNeueW31-LightI';
font-family:'Helvetica Neue W31';
font-family:'HelveticaNeueW31-Italic';
font-family:'Helvetica Neue W31 Bold';
font-family:'HelveticaNeueW31-BoldIt';
font-family:'HelveticaNeueW82-Light';
font-family:'HelveticaNeueW82-Regula';
font-family:'Helvetica Neue W82 Bold';
font-family:'Helvetica World W01';
font-family:'HelveticaWorldW01-Itali';
font-family:'HelveticaWorldW01-Bold';
font-family:'HelveticaWorldW01-BdIt';
// Arabic
font-family:'HelveticaNeueLTW20-Ligh';
font-family:'HelveticaNeueLTW20-Roma';
font-family:'HelveticaNeueLTW20-Bold';


*/