{% include header.html %}
<body class="{{ page.name }}">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48206514-1', 'yacinebelarbi.com');
  ga('send', 'pageview');

</script>
	<svg version="1.1" id="topcorner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="145.232px" height="34.956px" viewBox="0 0 145.232 34.956" enable-background="new 0 0 145.232 34.956" xml:space="preserve">
		<g>
		    <polyline fill="none" stroke="#e679ce" stroke-width="5.4633" stroke-miterlimit="10" points="2.731,7.478 30.683,27.478 
		        58.634,7.478 86.587,27.478 114.543,7.478 142.5,27.478     "></polyline>
		</g>
	</svg>
	<header>
		<a href="/" class="logo">Yacine Belarbi</a>
		<b class="page-title">{{page.title}}</b>
		{% include navigation.html %}
	</header>
	{{ content }}
	<svg version="1.1" id="bottomcorner" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="145.232px" height="34.956px" viewBox="0 0 145.232 34.956" enable-background="new 0 0 145.232 34.956" xml:space="preserve">
	<g>
	    <path fill="none" stroke="#ff995b" stroke-width="5.4633" stroke-linecap="round" stroke-miterlimit="10" d="M2.731,7.478
	        c13.976,0,13.976,20,27.952,20s13.976-20,27.951-20c13.977,0,13.977,20,27.953,20c13.978,0,13.978-20,27.956-20
	        s13.979,20,27.957,20"></path>
	</g>
	</svg>
{% include scripts.html %}
</body>
</html>
