---
layout: default
name: page-work-single
---
{{ content }}

<!-- This is the prev link, newer posts -->
{% if page.next %}
	{% if page.next.subtitle %}
		<a class="post-link-prev" href="{{ page.next.url }}"><span>{{ page.next.subtitle }}</span></a>
	{% else %}
		<a class="post-link-prev" href="{{ page.next.url }}"><span>{{ page.next.title }}</span></a>
	{% endif%}
{% endif%}


<!-- This is the next link, older posts -->
{% if page.previous %}
	{% if page.previous.subtitle %}
		<a class="post-link-next" href="{{ page.previous.url }}"><span>{{ page.previous.subtitle }}</span></a>
	{% else %}
		<a class="post-link-next" href="{{ page.previous.url }}"><span>{{ page.previous.title }}</span></a>
	{% endif%}
{% endif%}