---
layout: default
name: page-work-single
---


<div id="postHeader" class="post-header">
	<div id="inner" class="post-header__inner">
		{% if page.link %}
			<img class="post-header__img" src="/images/website-placeholder.jpg" alt="" />
			<iframe class="post-header__iframe" data-src="http://{{page.link}}" src="" width="1000" height="610">
		  		<p>Your browser does not support iframes.</p>
			</iframe>

		{% else %}

			<img class="post-header__img" src="{{page.cover}}" alt="" />
		{% endif %}


	</div>
</div><!-- /.post-header -->

<section class="page-section">
	<header class="page-section__intro">
		<time class="post-date">{{ page.date | date: "%b %Y" }}</time>
		{% if.page.subtitle %}
			<h1 class="page-section__name">{{page.subtitle}}</h1>
		{% else %}
		<h1 class="page-section__name">{{page.title}}</h1>
		{% endif %}
		<aside class="meta">
			{% if page.link %}
				{% for link in page.link %}
					<a class="link_highlight" href="http://{{link}}" target="_blank">{{link}}</a> |
				{% endfor %}
			{% endif%}

			{% if page.category %}
				<!-- <span>{{page.category}} |</span> -->
			{% endif%}
			{% if page.tags %}
				{% for tag in page.tags %}
					<span>{{tag}}</span>,
				{% endfor %}
			{% endif%}


		</aside>
	</header>
	<article class="single-column">
		{{ content }}
	</article>
	<footer class="post-footer">
	<!-- This is the prev link, newer posts -->
	{% if page.next %}
		{% if page.next.subtitle %}
			<div class="post-link-prev"><a href="{{ page.next.url }}">← {{ page.next.subtitle }}</a></div>
		{% else %}
			<div class="post-link-prev"><a href="{{ page.next.url }}">← {{ page.next.title }}</a></div>
		{% endif%}
	{% endif%}

	<!-- This is the next link, older posts -->
	{% if page.previous %}
		{% if page.previous.subtitle %}
			<div class="post-link-next"><a  href="{{ page.previous.url }}">{{ page.previous.subtitle }} →</a></div>
		{% else %}
			<div class="post-link-next"><a  href="{{ page.previous.url }}">{{ page.previous.title }} →</a></div>
		{% endif%}
	{% endif%}
	</footer>
</section><!-- /.page-section -->
